In [3]:
import pandas as pd

In [4]:
df2=pd.read_csv("C:/Users/samsung/Desktop/Great lakes/EDA/PortugueseBank.csv")

In [6]:
df2.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,53,technician,married,unknown,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,management,single,university.degree,no,yes,no,cellular,jun,thu,...,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,services,married,high.school,no,no,no,cellular,apr,fri,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,retired,married,basic.4y,no,yes,no,cellular,aug,fri,...,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,1

In [10]:
df2.var()

age                 108.602451
duration          67225.728877
campaign              7.672975
pdays             34935.687284
previous              0.244927
emp_var_rate          2.467915
cons_price_idx        0.335056
cons_conf_idx        21.420215
euribor3m             3.008308
nr_employed        5220.283250
y                     0.099966
dtype: float64

In [8]:
df2.describe()

,age,duration,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911,0.112654
std,10.42125,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528,0.316173
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000,0.000000
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000,0.000000
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000,0.000000
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000,0.000000
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000,1.000000

In [9]:
df2.mean()

age                 40.024060
duration           258.285010
campaign             2.567593
pdays              962.475454
previous             0.172963
emp_var_rate         0.081886
cons_price_idx      93.575664
cons_conf_idx      -40.502600
euribor3m            3.621291
nr_employed       5167.035911
y                    0.112654
dtype: float64

In [14]:
df2['age'].quantile(0.68)

44.0

In [15]:
df2['age'].quantile(0.77)

48.0

In [16]:
df2['age'].quantile(0.997)

80.0

In [17]:
df2['age'].quantile(0.16)

30.0

In [18]:
df2['age'].quantile(0.25)

32.0

In [21]:
df2['age'].quantile()

38.0

# Covariance & Correlation

In [23]:
df2.cov()

,age,duration,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
age,108.602451,-2.339147,0.132603,-66.945400,0.125661,-0.006069,0.005168,6.239801,0.194622,-13.346160,0.100162
duration,-2.339147,67225.728877,-51.494888,-2305.683015,2.648520,-11.391802,0.797272,-9.807412,-14.793831,-837.439866,33.223215
campaign,0.132603,-51.494888,7.672975,27.224921,-0.108494,0.656017,0.204971,-0.176061,0.649236,28.838822,-0.058116
pdays,-66.945400,-2305.683015,27.224921,34935.687284,-54.346448,79.574823,8.535132,-79.016677,96.250874,5031.877477,-19.201231
previous,0.125661,2.648520,-0.108494,-54.346448,0.244927,-0.326918,-0.058190,-0.116670,-0.390128,-17.926342,0.036017
emp_var_rate,-0.006069,-11.391802,0.656017,79.574823,-0.326918,2.467915,0.705038,1.425360,2.649121,102.944953,-0.148181
cons_price_idx,0.005168,0.797272,0.204971,8.535132,-0.058190,0.705038,0.335056,0.158023,0.690961,21.832546,-0.024929
cons_conf_idx,6.239801,-9.807412,-0.176061,-79.016677,-0.116670,1.425360,0.158023,21.420215,2.229089,33.611125,0.080304
euribor3m,0.194622,-14.793831,0.649236,96.250874,-0.390128,2.649121,0.690961,2.229089,3.008308,118.443421,-0.168778
nr_employed,-13.346160,-837.439866,28.838822,5031.877477,-17.926342,102.944953,21.832546,33.611125,118.443421,5220.283250,-8.102276
y,0.100162,33.223215,-0.058116,-19.201231,0.036017,-0.148181,-0.024929,0.080304,-0.168778,-8.102276,0.099966

In [24]:
df2.corr()

,age,duration,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
age,1.000000,-0.000866,0.004594,-0.034369,0.024365,-0.000371,0.000857,0.129372,0.010767,-0.017725,0.030399
duration,-0.000866,1.000000,-0.071699,-0.047577,0.020640,-0.027968,0.005312,-0.008173,-0.032897,-0.044703,0.405274
campaign,0.004594,-0.071699,1.000000,0.052584,-0.079141,0.150754,0.127836,-0.013733,0.135133,0.144095,-0.066357
pdays,-0.034369,-0.047577,0.052584,1.000000,-0.587514,0.271004,0.078889,-0.091342,0.296899,0.372605,-0.324914
previous,0.024365,0.020640,-0.079141,-0.587514,1.000000,-0.420489,-0.203130,-0.050936,-0.454494,-0.501333,0.230181
emp_var_rate,-0.000371,-0.027968,0.150754,0.271004,-0.420489,1.000000,0.775334,0.196041,0.972245,0.906970,-0.298334
cons_price_idx,0.000857,0.005312,0.127836,0.078889,-0.203130,0.775334,1.000000,0.058986,0.688230,0.522034,-0.136211
cons_conf_idx,0.129372,-0.008173,-0.013733,-0.091342,-0.050936,0.196041,0.058986,1.000000,0.277686,0.100513,0.054878
euribor3m,0.010767,-0.032897,0.135133,0.296899,-0.454494,0.972245,0.688230,0.277686,1.000000,0.945154,-0.307771
nr_employed,-0.017725,-0.044703,0.144095,0.372605,-0.501333,0.906970,0.522034,0.100513,0.945154,1.000000,-0.354678
y,0.030399,0.405274,-0.066357,-0.324914,0.230181,-0.298334,-0.136211,0.054878,-0.307771,-0.354678,1.000000